.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.button {
    width: 25rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
}

.labelsContainer{
    display: flex;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.titleMaker{
    border-radius: 10rem;
    height: 3rem;
    margin: 1rem;
}

.fileSelector {
    align-self: center;
    width: 20rem;
}